*{
    /* outline: 1px solid #aaf; */
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-family:'Yu Gothic', 'YuGothic', 'Roboto', 'Helvetica Neue', 'Hiragino Kaku Gothic Pro', 'Meiryo', 'Arial', 'sans-serif';
    font-size: 12px;
    letter-spacing: 0.05rem;
    line-height: 1.5;
}
a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: bold;
}
i{
    font-size: 20px;
}
p{
    font-size: 14px;
    line-height: 1.8rem;
    margin: 6px 0;
}
h2{
    font-size: 46px;
    font-weight: bold;
    line-height: 6rem;
}
h3{
    font-size: 24px;
    font-weight: bold;
    line-height: 2rem;
}

h4{
    font-size: 17px;
    line-height: 2rem;
    font-weight: bold;
}

li{
    line-height: 2rem;
    font-size: 14px;
}

.container{
    max-width: 1200px;
    color: black;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
    padding: 70px 50px;
}
/* -----navbar----- */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 140px;
}

.logo img{
    width: 146px;
    height: 40px;
    transition: 0.3s;
}
.logo:hover{
    opacity: 0.5;
}
.navbutton{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navbutton li{
    line-height: 14px;
    margin-left: 20px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid rgba(30, 143, 255, 0) ;
}
.navbutton li:hover{
    border-bottom: 0.5px solid DodgerBlue ;
    transition: 0.5s;
}
.twitter{
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 960px){
    .logo img{
        width: 120px;
        height: 34px;
    }
    .nav{
        flex-wrap: wrap;
    }
    .navbutton{
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 540px){
    .navbutton a{
        font-size: 9px;
    }
}

/* -----main visual----- */
.mainimg{
    display: flex;
    justify-content: space-between;
}
.mainimg img{
    width: 50%;
}
.mainimgL{
    margin-bottom: 80px;
}
.mainimgR{
    margin-top: 80px;
}
.main{
    min-height: 350px;
    padding: 0px;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
}
.semi-title{
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    font-size: 34px;
    font-weight: 500;
    line-height: 3rem;
    letter-spacing: 0.7rem;
}
.main-info{
    padding-left: 70px;
}
@media screen and (max-width: 720px){
    .main{
        min-height: 240px; 
        flex-wrap: wrap;
    }
    .mainimgL, .mainimgR{
        margin: 0;
    }
    .semi-title{
        writing-mode: unset;
        text-align: center;
        margin: 30px auto 10px auto ;
    }
    .main-info{
        text-align: center;
        padding: 0 ;
    }
}

/* -----store----- */

.store{
    /* background-color: rgb(242, 242, 242); */
    background: url("../img/bg-check.png") repeat;
    background-size: 15px;
    width: 90%;
}
.storeinfo{
    min-width: 120px;
    width: 48%;
}
.storeinfo h4{
    margin: 30px 0 0 0;
}
.storeinfo li{
    list-style: square;
    list-style-position: inside;
}
.booking{
    margin: 30px 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    line-height: 50px;
    transition: 0.3s;
}
.booking a{
    color: #fff;
}
.booking:hover{
    opacity: 0.5;
}
.p-info, .p-info a{
    font-size: 11px;
    line-height: 1.7;
}
.link-info{
    text-decoration: underline;
    font-weight: normal;
}
.store-pic {
    max-width: 390px;
}
.store-pic img{
    width: 100%;
}

@media screen and (max-width: 960px){
    .store-pic{
        max-width: 280px;
    }
}
@media screen and (max-width: 720px){
    .store{
        justify-content: center;
        flex-wrap: wrap-reverse;
    }
    .storeinfo{
        width: 100%;
    }
    .store-pic{
        margin-bottom: 20px;
    }
    .store-pic img{
        width: 100%;
    }
}

/* -----news----- */
.newsblog{
    background: #f9f8f4;
    background-size: 60%;
}
.news-head{
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.more{
    justify-content: flex-end;
    text-align: center;
    border: 1px solid #000;
    padding: 7px 15px 7px 15px;
}
.more:hover{
    opacity: 0.5;
    transition: .3s;
}
.news{
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    transition: .3s;
}
.news:hover{
    opacity: 0.5;
}
.news-date{
    color: #000;
    font-size: 12px;
    font-weight: bold;
    padding: 0 ;
    margin-right: 35px;
}
.news-name{
    font-weight: normal;
}
.news-name::before{ 
    content: "\2022";
    display: inline-block;
    /* width: 1em; */
    margin-right: 20px;
}

@media screen and (max-width: 720px){
    .news{
        flex-wrap: wrap;
        margin-bottom: 8px;
    }
    .news p{
        width: 100%;
        margin: 0;
    }
    .news-name::before{
        display: none;
    }
}

/* -----About----- */
.aboutus{
    width: 100%;
    padding: 50px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.aboutpic{
    width: 50%;
}
.aboutpic img{
    width: 100%;
}
.aboutinfo{
    width: 50%;
    padding: 0 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.aboutR{
    width: 100%;
}
.aboutus-b{
    margin-left: auto ;
    width: 90px;
    height: 35px;
    border-bottom: 1px solid #000;
}
.aboutus-b:hover{
    opacity: 0.5;
    transition: 0.3s;
}

@media screen and (max-width: 720px){
    .aboutus{
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }
    .aboutinfo{
        width: 90%;
    }
}

/* -----report----- */
.report{
    background-color: #f9f8f4;
    padding: 0;
}
.repo-row{
    width: 100%;
}
.report-h2{
    width: 100%;
}
.report-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.report-header h3{
    margin-right: 40px;
}
.report-header p{
    margin-right: auto;
}
.report-bolck{
    width: 31%;
    margin: 20px 0;
    position: relative;
}
.report-bolck:hover{
    opacity: 0.6;
    transition: 0.3s;
}
.report-bolck img{
    width: 100%;
    margin-bottom: 20px;
}
.tag{
    position: absolute;
    bottom: 70px;
    right: 10px;
    background-color: #fff;
    padding: 0 5px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}
.repo-date{
    color: rgb(90, 90, 90);
    font-size: 12px;
    font-weight: bold;
    padding: 0 ;
    margin: 0;
}

@media screen and (max-width: 960px){
    .report-bolck{
        width: 48%;
        margin: 20px 0;
    }
    .report-header{
        flex-wrap: wrap;
    }
    .report-bolck h4{
        font-size: 14px;
    }
}
@media screen and (max-width: 540px){
    .report-bolck{
        width: 100%;
        margin: 20px 0;
    }
    .report-bolck:nth-child(6), .report-bolck:nth-child(7), .report-bolck:nth-child(8){
        outline: 2px solid #000;
        display: none;
    }
}

/* -----next----- */
.wherenext{
    text-align: center;
    padding: 0px;
}
.wherenext h3, .wherenext p{
    width: 100%;
}

/* -----contact----- */
.contact{
    display: flex;
    width: 100%;
    max-height: 340px;
    background-image: url("../img/ft-cv.jpg");
    background-size: cover;
    background-position: center;
}
.contact-b{
    outline: 5px solid #000;
    width: 80%;
    height: 160px;
    margin: 300px auto auto auto;
    padding: 0 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: .5s;
}
.contact-b h2{
    font-size: 36px;
}
.contact-b p{
    font-weight: bold;
    text-align: center;
}
.contact-b:hover{
    background-color: #000;
    color: #fff;
}

@media screen and (max-width: 720){
    .contact-b{
        flex-wrap: wrap;
        margin: auto;
    }
}
/* -----footer----- */

.footer{
    width: 80%;
    border-bottom: 0.5px solid #000;
    margin-top: 180px;
    margin-bottom: 20px;
    padding: 0 ;
    padding-bottom: 40px;
    justify-content: center;
}
.footer a:hover{
    opacity: 0.5;
    transition: 0.3s;
}
.copy{
    width: 80%;
    padding: 0;
}
.copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.copyright p{
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.05rem;
    margin: 0 15px;
}
@media screen and (max-width:720px){
    .copyright{
        flex-wrap: wrap;
        justify-content: center;
    }
    .copyright p{
        font-size: 10px;
        line-height: 1.2rem;
        width: 100%;
        text-align: center;
    }
    .copyright p:nth-child(2){
        outline: 2px solid #000;
        display: none;
    }

}